mixin abstract(abs) 
  div( class="row") 
    div( class="col-sm-12 jumbotron")
      a( style="color: black" href="/publications/"+abs.id)
        img( img src=abs.abstract_image_url
             class="img-responsive" style="width:100%; height: 600px" alt="Image" )
        h3( class="destinos-title-font" )
          strong #{abs.title}
        h5( class="destinos-text-font" ) #{__("By") + " " + abs.author}
        h4( class="destinos-text-font" ) #{abs.abstract}
        
mixin abstract2(abstracts)
  div( class="row")
    each abs in abstracts
      div( class="col-sm-6")
        div( class="jumbotron")
          a( style="color: black" href="/publications/"+abs.id )
            img( img src=abs.abstract_image_url
                 class="img-responsive" style="width:100%; height: 400px" alt="Image" )
            h3( class="destinos-title-font" )  
              strong #{abs.title}   
            h5( class="destinos-text-font" ) #{__("By") + " " + abs.author}
            h4( class="destinos-text-font" ) #{abs.abstract}
   
mixin abstract3(abstracts)
  div( class="row")
    each abs in abstracts
      div( class="col-sm-4")
        div( class="jumbotron")
          a( style="color: black" href="/publications/"+abs.id )
            img( img src=abs.abstract_image_url class="img-responsive img-circle" 
                 style="width:100%; height: 200px" alt="Image" ) 
            h3( class="destinos-title-font" )  
              strong #{abs.title}   
            h5( class="destinos-text-font" ) #{__("By") + " " + abs.author}
            h4( class="destinos-text-font" ) #{abs.abstract}
    
